.main-content {
    background-color: #EEEEEE;
    float:left;
    width:calc(100% - 200px);
    height:calc(100vh - 56px);
    padding: 0 20px;
    overflow:auto;
}

.content-header {
    padding: 25px 0 30px 0;
    display:flex;
    justify-content: space-between;
}
.content-title {
    font-size:24px;
    font-weight: 700;
}

.content-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #fff;
}

.toolbar {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:16px;
}

.refresh-button {
    cursor: pointer;
}

.search-area {
    position: relative;
}

.icon-search {
    width:20px;
    height:20px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}
.content-table {
    padding: 0 16px;
}
.emp-table {
    overflow:auto;
    position:relative;
}

