.btn {
    color:white;
    background-color: #50B83C;
    padding:0 16px;
    border:none;
    border-radius: 4px;
    min-width: 80px;
    height:36px;
}
.btn:hover {
    background-color: #73C663;
    cursor:pointer;
}
.btn:focus {
    background-color: #409330;
    cursor:pointer;
}
.btn-secondary {
    background-color:white;
    color:black;
    border: 1px solid #E6E6E6;
}
.btn-secondary:hover {
    background-color:#EEEEEE;
}
.btn-secondary:focus {
    background-color:#E0E0E0;
}