.combo-box select{
    border-radius: 2px;
    height: 36px;
    padding-left:12px;
    border: 1px solid #E0E0E0;
    width:100%;
    outline: none;
}
.combo-box select:hover {
    outline: 1px solid #e2e2e2;
}

.combo-box select:focus {
    border: 1px solid #2ca01c;
}