/* TEXT INPUT */


.input-text {
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 2px;
    height: 36px;
    border: 1px solid #E0E0E0;
    outline: none;
    width:100%;
}
.popup .input-text {
    margin-top: 8px;
}

.input-text::placeholder {
    color: #9E9E9E;
    font-style: italic;
}

.input-text:hover {
    outline: 1px solid #e2e2e2;
}

.input-text:focus {
    border: 1px solid #2ca01c;
}

.input-search {
    width: 260px;
}

.input-require {
    color: red;
    padding-left:2px;
}

.input-error, .input-error:focus {
    border-color: red!important;
}

.input-label{
    font-weight:bold;
}


/* CHECKBOX INPUT */
.popup .checkbox-list{
    display:flex;
    align-items: center;
    margin-top:8px;
    height:36px;
    gap:12px;
}
.checkbox-option{
    display: flex;
    align-items: center;
}

.checkbox-option .input-label{
    padding-left:8px;
    font-weight: 500;
}

.input-checkbox {
    width:20px;
    height:20px;
}