/* TEXT INPUT */
.input-wrapper{
    padding-bottom:24px;
    display:flex;
    flex-direction: column;
    gap:8px;
}

.input-label{
    font-weight:bold;
}

.input {
    padding: 0 12px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    height: 36px;
    outline: unset;
    width:100%;
}

.input::placeholder {
    color: #9E9E9E;
    font-style: italic;
}

.input:hover {
    outline: 1px solid #BDBDBD;
}

.input:focus {
    border: 1px solid #409330;
}


.input-require {
    color: red;
    padding-left:2px;
}

.input-error, .input-error:focus {
    border-color: red!important;
}


/* CHECKBOX INPUT */
.input-checkbox-list{
    display:flex;
    align-items: center;
    height:36px;
    gap:12px;
}
.input-checkbox-wrapper{
    display: flex;
    align-items: center;
    gap:8px;
}

.input-checkbox {
    width:20px;
    height:20px;
}